.col {
  background-color: burlywood;
  border: solid;
}

.navIcon {
  width: 6.25rem;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

#aboutCard {
  background-color: lightgray;
  box-shadow: 0 5px 20px 2px black;
}
