.navIcon {
  width: 6.25rem;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

#aboutCard {
  background-color: lightgray;
  box-shadow: 0 5px 20px 2px black;
}

#skillsCard {
  background: #030304d9;
  color: white;
}

#skillCard:hover {
  transform: scale(1.2);
  filter: grayscale(100%);
}

#skillsCard:hover {
  transform: scale(1.2);
  filter: grayscale(100%);
}

.projectCardWrapper {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.projectCard {
  width: 100%;
}

.custom-margin-top {
  margin-top: 15rem;
}

.projectCardWrapper {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.projectCard {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  transition: box-shadow 0.3s ease;
}

.projectCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectCard .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectCard .card-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.projectCard button {
  background-color: transparent;
  border-color: black !important;
  color: black !important;
  padding: 8px 16px !important;
  font-size: 14px !important;
}

.projectCard button:hover {
  color: white !important;
  background-color: black !important;
}

#aboutIMG {
  background: transparent;
  border: none;
}

.custom-margin-top-start {
  margin-top: 8rem;
}

#githubLogo {
  margin-top: 1%;
  border-radius: 50%;
  max-height: 45px;
}

#linkedinLogo {
  margin-top: 3%;
  max-height: 30px;
  border-radius: 11%;
}

.outerPageLinks {
  border: 0;

  height: 50px;
}

.outerPageLinks:hover {
  transform: scale(1.2);
  filter: grayscale(100%);
}

#resumeButton {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.resumeButton:hover {
  color: white !important;
  background-color: black !important;
  border: thick #0d6efd;
}

.contactButton:hover {
  color: white !important;
  background-color: black !important;
  border: thick #0d6efd;
}
